.SkilContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3em 0 3em 0;

    margin: 4em 0 4em 0;

}

.SkillWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    height: 100%;
}

@media (max-width: 1024px){
    .SkillWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}